*.ipynb	diff=jupyternotebook

*.ipynb	merge=jupyternotebook

* text=auto

*.txt text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
*.ipynb text eol=lf

*.ipynb filter=nbstripout
*.zpln filter=nbstripout
*.ipynb diff=ipynb
